:root {
  --LOGO-IMAGE-width: 80%;
  --MENU-HEADER-BG-color: var(--MENU-SECTIONS-BG-color);
  --MENU-S-width: 14.375rem;
  --MENU-M-width: 18.75rem;
  --MENU-L-width: 18.75rem;
  --MAIN-WIDTH-MAX: 1000rem;
  --MENU-SEARCH-BG-color: var(--BOX-BG-color);
  --INTERNAL-MENU-SECTIONS-ACTIVE-BG-color: var(--MENU-SECTIONS-BG-color);
  --MAIN-font: "Work Sans";
}

#R-logo img {
  clip-path: circle(50%);
}

search {
  padding-bottom: 0px;
}

#R-search-by {
  background-color: var(--BOX-BG-color);
}

#R-homelinks {
  display: none;
}

#R-sidebar .R-sidebarmenu > ul {
  margin-top: 0;
}

#deepak-shakyas-space {
  display: none;
}

#site-title {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 0;
  margin: -5px;
}

#site-subtitle {
  font-size: 0.8rem;
  color: var(--MAIN-TEXT-color);
  padding: 0;
  margin: 10px 7px;
}

#socials a {
  color: var(--MENU-SECTIONS-LINK-color);
  font-size: 1.5rem;
}
